body{
    margin:0;
    padding:0;
    font-size: 14px;
}

#content{
    width: 370px;
    margin:30px auto;
}

#top{
    border: 1px solid #000;
}

#mid,#bot{
    margin-top: 14px;
}

#title{
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #000;
	padding: 6px;
	background-color:#888;
}

#msg{
	height: 360px;
	overflow-y:scroll;
}

#msg ul{
	background-color: #f0f0f0;
	border:1px solid #000;
	border-radius: 10px;
	margin:10px;
	padding: 10px;
}

#msg li{
	list-style: none;
}

.msgcontent{
	text-indent: 28px;
	font-size: 14px;
	margin-bottom: 14px;
	line-height: 20px;
}

.msginfo{
	text-align: right;
}

.author{
	margin-left: 24px;
}

#ct{
	margin-left: 10px;
}

.tip{
	background-color: #fff;
}

.showtip{
	padding: 5px;
	margin-left: 30px;
	border-radius: 8px;
	background-color: #c8c8c8;
}

#txt{
	border: 1px solid #000;
	font-size: 14px;
	color: #c8c8c8;
	width:364px;
	margin: 0 auto;
	height: 70px;
	vertical-align: top;
}

input{
	font-size: 14px;
	margin-top: 14px;
	border: 1px solid #000;
}

#newname{
	color:#c8c8c8;
}

#submit{
	margin-left: 20px;
}

.clear{
	float: none;
}

#clear{
	margin-left: 14px;
}